---
layout: default
---

<article class="post">
  <center><h1>{{ page.title }}</h1></center><br>

  <div align="right">
    <span class="date">
      {{ page.date | date: "%Y-%m-%d" }}
    </span>

    <ul class="tag">
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
          {{ tag }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div><br><br>

  <div class="entry">
    {{ content }}
  </div>
  
  <!-- Putting Reference on the bottom of the page
  {% if page.reference %}
    {% include reference.html%}
  {% endif %} 
  -->

  <div class="pagination">
    {% if page.previous.url %}
      <span class="prev" >
          <a href="{{ site.url }}{{ site.baseurl }}{{ page.previous.url }}">
            &#xE000; {{ page.previous.title }}
          </a>
      </span>
    {% endif %}
    {% if page.next.url %}
      <span class="next" >
          <a href="{{ site.url }}{{ site.baseurl }}{{ page.next.url }}">
            {{ page.next.title }} &#xE001;
          </a>
      </span>
    {% endif %}
  </div>
  
  {% if site.comments %}
    {% include disqus.html %}
  {% endif %}
</article>
